li {
    list-style: none;
    width: 100%;
    display: flex;    
    justify-content: space-around;
    height: 55px;   

    p.roundNumber {
        font-size: 30px;    
        color:black;
        font-family: sans-serif;
        display: inline;  
        margin: 0 10px 0 5px;    
    }

    div.playerRoundCode {    
        width: 60%;
        height: 45px;
        margin: 5px 10px 5px 0;    
        border: 1px solid black;
        border-radius: 15px;    
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
        span {    
            height: 30px;
            width: 30px;
            display: inline-block;    
            border-radius: 50%;
            border: 1px solid white;
            margin: 10px 10px;    
        }
    
        span:last-child {       
            margin-right: 20px;
        }        
    }
    
    .resultRoundCode{
        width: 30%;
        margin: 15px 15px 10px 5px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 15px;    
        display: flex;
        justify-content: space-around;
        align-items: center;

        span {    
            height: 15px;
            width: 15px;
            display: inline-block;    
            border-radius: 50%;
            border: 1px solid white;
            margin: 5px 5px;    
        }
    }    

    &:first-child {
        margin-bottom: 10px;
    }

    &:last-child {
        margin-top: 10px;
    }
}



